
<section class="min-h-screen flex flex-col justify-center items-center text-center px-6 pt-24 ">
    <h1 class="tet-5xl md:text-7xl font-extrabold text-white tracking-tight drop-shadow-lg">
        Fixing the impossible
    </h1>
</section>