<section class="min-h-screen flex flex-col md:flex-row justify-between items-center px-6 pt-24 gap-5">

  <div class="flex flex-col items-start gap-4 max-w-lg">
    <div class="flex items-center gap-2">
      <h1 class="text-3xl md:text-5xl font-extrabold text-white tracking-tight drop-shadow-lg">
        Fixing the
      </h1>
    <h1 class="rotate-[-5deg] transition-transform duration-300 ease-in-out hover:rotate-0 text-4xl md:text-6xl font-extrabold text-white drop-shadow-lg bg-red-600 px-2 rounded-lg">
        Impossible
      </h1>
    </div>

    <p class="text-lg md:text-xl text-white/80 max-w-xl">
      A place where we code, collaborate and fix problems!
    </p>
    <div class="flex items-center gap-4">
    <button id="jus" class="mt-4 bg-red-500 hover:bg-pink-600 text-white font-bold px-6 py-3 rounded-xl shadow-lg transition duration-300 hover:scale-105 transform">
        Join Us
    </button>
    <script>
      document.getElementById('jus').addEventListener('click', function() {
        window.location.href = 'https://hack.club/join/LCCHDR';
      });
    </script>
    <button id='pj' class="bg-orange-500 hover:bg-pink-600 mt-4 text-white font-bold px-6 py-3 rounded-xl shadow-lg transition duration-300 hover:scale-105 transform">
        Explore Projects
    </button>
    <script>
      document.getElementById('pj').addEventListener('click', function() {
        window.location.href = '/#projects';
      });
    </script>
    </div>
  </div>

  <div class="w-full md:w-1/2 flex justify-center">
    <img src="https://cdn.hackclub.com/019c418d-ae5d-7358-9762-0435f73e15c1/IMG-20260130-WA0006.jpg" class="w-full h-full object-cover rounded-xl mb-4" alt="Mascot">
  </div>

  <div class="absolute -z-50 inset-0 h-full w-full bg-[radial-gradient(circle,#73737350_1px,transparent_1px)] bg-[size:10px_10px]"></div>
</section>
