<nav class="backdrop-blur-lg backdrop-saturate-150 fixed top-0 left-0 z-50 w-full bg-slate-900/30 border-b border-white/20 shadow-md flex justify-between items-center px-4 ">
    <a class='mt-0' href="https://hackclub.com/"><img class="h-14 w-auto object-contain mt-0" src="https://assets.hackclub.com/flag-orpheus-top.svg" alt="Hack Club"/></a>  
     <div class="flex items-center gap-10 hidden md:flex">
        <a href="/" class="text-white hover:text-red-500 transition-colors duration-300">Home</a>
         <a href="#projects" class="text-white hover:text-red-500 transition-colors duration-300">Projects</a>
        <a href="#about" class="text-white hover:text-red-500 transition-colors duration-300">About</a>
        <a href="#contact" class="text-white hover:text-red-500 transition-colors duration-300">Contact</a>
      
    </div>
      <button id='hamBtn' class="md:hidden text-white text-3xl cursor-pointer hover:text-red-500 transition">
            <p> ☰ </p>
            </button>
        <div id="hamMenu" class="hidden md:hidden flex flex-col gap-4 mt-4 pb-4">
             <a href="/" class="text-white hover:text-red-500 transition-colors duration-300">Home</a>
            <a href="/about" class="text-white hover:text-red-500 transition-colors duration-300">About</a>
            <a href="/projects" class="text-white hover:text-red-500 transition-colors duration-300">Projects</a>
            <a href="/contact" class="text-white hover:text-red-500 transition-colors duration-300">Contact</a>
        </div>
        <div class="bg-red-500 text-white font-bold px-4 py-1 rounded-lg text-xl shadow-md rotate-[-3deg] hover:rotate-0 transition-transform duration-300 ease-in-out">
            <p class="flex items-center gap-3"> 
                DebugCrew
            </p>
    </div>
</nav>
